@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div>
    <form action="/login" method="post">
        <p>
            <label>Email</label>
            <input name="@nameof(Model.Email)" type="text" value="@Model.Email"/>
            <div class="error">@Html.ValidationMessageFor(m => m.Email)</div>
        </p>
        <p>
            <label>Password</label>
            <input name="@nameof(Model.Password)" type="password"/>
            <div class="error">@Html.ValidationMessageFor(m => m.Password)</div>
        </p>
        <p>
            <label>Remember me?</label>
            <input name="@nameof(Model.RememberMe)" type="checkbox"/>
        </p>
        <button>Login</button>
    </form>
</div>